Function
Function are Denfinie By  fun_name()://piece of code

why Function need .
A pieace of code Reapet again and again So,we use function.
2 types of fucntion
1)Parameterized Function
2)Parameterless Function

In [ ]:
'''This Example Show name  varible and input reapaet again and again So we use function'''
name_1:str=input('Enter the name')
print(name_1)
name_2:str=input('Enter the name')
print(name_2)
name_3:str=input('Enter the name')
print(name_3)
name_4:str=input('Enter the name')

In [11]:
'''Function'''
'''This Exmaple May help we only call the function name and i use Mulitiple time every where i need it '''
def func_name():

 name:str=input('Enter the name :')
 print(f'My Name is {name}')

func_name()


def print_number():
    a : int = int(input("Enter a value"))
    print(f"User gave the number {a}")

Enter the name :wasiq
My Name is wasiq

In [17]:
'''So we learn the Function how i define .We are More Dicuss about parameterless and Parameterized function in this Section'''

def func_name():
  print('This is Parameterless function')

# we used the fuction by name we call only name and with function bracees
func_name()

#-----Paremetrized Function--------------

def func_parameter(name):
  print(f'This is parameterized Function and My name is{name}')

func_parameter('Wasiq')

#-----Another Exmaple of parameterized Function------

#use static Techinque mean Hard coded

my_name:str='Ali'
def func_check(name):
  print(f'My name is {name}')
func_check(my_name)

This is Parameterless function
This is parameterized Function and My name isWasiq
My name is Ali

Whast is Arugment and Parameter

Argument are define Outside of the function and it can be acessed in inside of the function

Parameter are Defined inside the Function it Scope only inside the Function not Outside

In [29]:
'''We Learn Function with Return Statement '''
def func_add(first_num:int,second_num:int)->int:
  result=first_num+second_num


  # The Return Statement work for Ouput what the function perform
  # Return is a Expression
  return result

func_add(10,10)

(20, 100)

In [25]:
'''Without Return Expression'''
'''This Exmaple ->int|None Result is Integer mean return integer and none mean if they not meet the condition return none '''
def fun_add(first_num:int,seconf_num:int)->int|None:
  if first_num>0 and seconf_num>0:
    reult:int=first_num+seconf_num
    return reult

fun_add(10,10)

20

In [28]:
#Note :Function Return Only Sigle value
'''In this Expale We are Returning a tuple '''
def func_tup(first_num:int,seconf_num:int)->tuple[int,int]:
  multi_res=first_num*seconf_num
  add_res=first_num+seconf_num
  return multi_res,add_res

# So, In this Exmaple we are returning 2 value One is  multiplication and Second is Addition But Carefully we Return not integer i rtuen tuple
func_tup(5,5)

<class 'tuple'>

In [30]:
#Returning the Dixtinory
def func_ditn(name,address,city)->dict[str,str]:
 return {
    "name":name,
    "address":address,
    "city":city
 }
func_ditn('WAsiq','Daman','Attock')

{'name': 'WAsiq', 'address': 'Daman', 'city': 'Attock'}