In [ ]:
#-----String Method -------#
#-----Cocetanate String -----#
str1='wasiq'
str2='khan'
#-----This print can only print Simpele concetanet string But i need some space  b/w in 2 string
print (str1+str2)

#------In this example we lean How i concetanate and How i implement between space in 2 string
result=str1+" "+str2
print(result)

wasiq khan
wasiq khan

In [ ]:
#---------Repetition  Method '*'--------

#=======In this example, if I need any string multiple times, I can easily repeat it using the '*' sign.
str1='Hello'
result =str1 * 3
print (result)


#====if the string in based on 2 names like wasiq khan mean between space ,How can work these cases

str='wasiq khan'
result=str*4

# ===In this sneorio string act as different first string on start and 2nd string in last while between output last in first first in last
print(result)

HelloHelloHello
wasiq khanwasiq khanwasiq khanwasiq khan

In [ ]:
#--------Memebership Operator------#
#======Use of in=========
#----if 'Khan 'in str they return bolean vanlue 'true ' and Not in str they return flase
str ='Wasi khan'
res = 'khan' in str
print(res)

#----if 'Khan 'not in str they return bolean vanlue 'true ' and Not in str they return flase
#============Uses of not in===================
result2=('khan'not in str)
print(result2)


#=======Memebership Operatror with list ==============
list=['wasiq','khan','ALi']
result='khan'in list
print (result)

result2='ALi' not in list
print(result2)

True
False
True
False

In [ ]:
#--------------------String length---------------------
#-----------They counted the Spce -------------------
str1='Muhammad Wasiq Khan'
print(len(str1))
str2='Wasiq Khan'
print(len(str2))

TypeError: 'int' object is not callable

In [ ]:
#===============Idexing ====================

#===========if i sart positive they are sart lef and i strt negative they start right bcz python are satrt left to right
str1='Wasiq Khan'
print(str1[0])
print(str[-3])

W
i

In [ ]:
#==================Slicing ===================
#==========if the string conatain 5 chacrter user put 10 ,20 30 they count only last character of String
str='Pakistan'
print(str[1:10])

#---------------if the String has Space in 5 index but they showing 4 index of String
str1='Hello World'
print(str1[1:6])

#---------if i not mention i mean emapty the satrting index they are Start automaticatially zero--------------
str2='Saudi Arabia'
print(str2[:12])

#============Same as if i not mention i mean emapty the ending index they are end automaticatially eding letter--------------
str3='Pakistan'
print (str3[0:])

akistan
ello
Saudi Arabia
Pakistan

In [ ]:
#--------String Comparson-------#
# strig comparason return bolean value true flase -------

#----------------Equal ==-----------------
num=5
num1=5
print(num==num1)

name="wasiq "
nam1 ='khan'
print (name==nam1)


my_name='Wasiq'
my_name1='Wasiq'
print(my_name==my_name1)

True
False
True

In [ ]:
#--------Not Equal '!='========#
# strig comparason return bolean value true flase -------

num1=5
num2=10

print(num1!=num2)

num1=int(input('Enter the number '))
num2=int(input('Enter the number'))

print (num1!=num2)

True
Enter the number 10
Enter the number10
False

In [ ]:
#--------Less than ------!
num1=5
num2=10
print(num1<num2)

#----Greather than-------
num=10
num1=5
print(num>num1)

True
True

In [ ]:
#--------Less than and equal to  '=<'------
num1=10
num2=11
print(num1<=num2)

#--------greater than and equal to  '>='------

num1=15
num2=19
print(num1>=num2)

True
False

In [ ]:
#----------------String  comparsion--------
name1='Wasiq'
nmae='khan'
print(name1==name)

nam1='Wasiq'
name2='Khan'
print(nam1!=name2)
#=======String comaprsion can count string charater one by one
name='Sir'
name1='Usman'
print(name<name1)

False
True
False

In [ ]:
#-------------------------Stirng Formating with '%'----------------
#--------%s is cosinderd String they aceept the String %d is consider integer value they are getting integer value --------

namwe ='Wsaiq khan '
age=24

print('My name is %s and iam %d year old'%(namwe,age))


#------------------------String Formating  '.formate()-----------------'

print('My name is {},and iam {} year old'.format(namwe,age))

TypeError: %d format: a real number is required, not str

In [ ]:
#=========Flaot formate specifier=============
my_floatvalue=3.90874
float_formating='Then value of float specifier is %.3f'%my_floatvalue
print(float_formating)

#==============Integer inn Hexadecimal formate Specifer================

Then value of float specifier is 3.909

In [ ]:
#----------------Escape Sequence --------------
#==========Single slashes are used to identify if I need any string. If I need a colon, I can use a slash.---------------
print('My name is Wasiq Khan .Iam in Studeied in "\'Air university\'"')
print('\"Sir usman\" very nice teacher')


#-----------------Double slash-------------------------
#-------I we need a slash for any character -----------

print("Python Programming in \\PIAIC")

#--------------------/n-----------------
#----------SLsh n is used for new line ------------
print ('Hello is basic of programing world .\n All the programe concept are same ')

#====================\t====================
#====Slash t is used to for one tab space between String and other
print( 'python is most papoular \t language ')

#--------------------\r-----------------------
#-----Behind the slash r python complier are skip to read and Excecute
print('Hello is basic  of programing world .\rAll the programe concept are\bsame')

#===================Back space --------------------
#-----------------Remove one character for backspace-------------
print("Python Programming in a\bPIAIC")

print('Welcome to the programing \aworld')

My name is Wasiq Khan .Iam in Studeied in "'Air university'"
"Sir usman" very nice teacher
Python Programming in \PIAIC
Hello is basic of programing world .
 All the programe concept are same
python is most papoular 	 language
All the programe concept aresame
Python Programming in aPIAIC
Welcome to the programing world

In [ ]:
#------------Coments----------------
#-------This is a Single Line commets ------

#------This is Multiline String  or Multiline commits------
'''
This is Multiline commets
This is Multiline commets
This is Multiline commets
This is Multiline commets

'''

'\nThis is Multiline commets\nThis is Multiline commets\nThis is Multiline commets\nThis is Multiline commets\n'

In [ ]:
#--------Type Conversion------------
integer_value =10
flaoat_value=15.0
print(integer_value,flaoat_value)


#-----Covert with the help of type Coversion integer to float and float to intger
integer_value=float(10)
flaoat_value=int(15.0)
print(integer_value,flaoat_value)


#------Find the varible type ------
x=10
print(type(x))

x='Wasiq'
print(type(x))

#------dir used provide if num is integer they provide All the method of integer if they are String All mrthod provide   -------
num=10

print(dir(num))

10 15.0
10.0 15
<class 'int'>
<class 'str'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']