

---
We are Dicuss the tuple they are immutable unlike list is mutable tey are change and modified the user.Tuple is Faster then list

In [ ]:
#------------Tuple -----------------

'''we can amke tuple with whole braces '''
my_data:tuple[int ,int]=(12,34)
print(my_data)

print(my_data[1])

(12, 34)
34

In [ ]:
#====Exmaple with String ----------
my_data=(1,3,4,5,7)
print(type(my_data))

std_data:tuple[int]=(1,2,4,5,)
print(std_data[3])

<class 'tuple'>
5

In [ ]:
my_data:tuple[str,str,str]=('Wasiq','Khan','Ali')
print(my_data[0])

Wasiq

In [ ]:
#===============Slicing  in Tuple=====================
my_data:tuple[int]=(1,12,23,45,35,76,89,76)
print(my_data[0:6])

(1, 12, 23, 45, 35, 76)

In [ ]:
#---------------Concatenation in Tuple-------------------
my_tuple1=(12,34,5)
my_tuple2=(1,2,3)
result=my_tuple1+my_tuple2
print(result)

fruit_data:tuple[str]=('Banana','Mango')
fruit_data2:tuple[str]=('Apple','Grapes')
result=fruit_data+fruit_data2
print(result)

(12, 34, 5, 1, 2, 3)
('Banana', 'Mango', 'Apple', 'Grapes')

In [ ]:
#-------Unpacking in Tuple --------
new_data:tuple[int]=(1,2)
x,y=new_data
print(x)
print(y)

1
2

In [ ]:
#------------------------Nested tuple----------------------------
my_data:tuple[int]=(10,(12,34),(12,98,66,77))
print(my_data[2][3])

# Unpacking nested Tuple and concetanate

x,y,z=my_data
print(x)

result=my_data
print(result)

77
10
(10, (12, 34), (12, 98, 66, 77))

In [ ]:
#we are print the result it mean we are showing output without braces so,we can use itraeation they are print one by one#

#-=--------Itration in Tuple ------------------------
std_data:tuple[str]=('Wasiq','Khan','Ali','Hareem')
print(std_data)

for data in std_data:
  print(data)

('Wasiq', 'Khan', 'Ali', 'Hareem')
Wasiq
Khan
Ali
Hareem

In [ ]:
#--------.count() method in Tuple --------------
my_data:tuple[str]=('Wasiq','Ali','Hareem','khan','Wasiq')
result=my_data.count('Wasiq')
print(result)

2